/* Body styling */
body{
    background-color: rgb(192, 109, 109);
    color: #fdfbfb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    line-height: 1.5em;
    margin: 0;
    background-image: url('images/query.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}

/* Header design */
header {
    background-color: rgb(121, 121, 247);
    color: white;
}

#body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contain {
    text-align:center;
    vertical-align: middle;
    color: white;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(7, 193, 218, 0.548);
    box-shadow: 5px 10px #0000008f;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 5%;
}

.heading {

    padding-bottom: 0%;
    text-align: center;

    color: blue;
    font-size: 350%;
    text-shadow: 2px 2px rgb(7, 7, 7);
}
h4 {
    color: white;
}
.mind {
    font-size: 120%;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 1%;
}
.posted {
    text-shadow: 2px 2px rgb(7, 7, 7);
}

.answer {
    background-color: #08c0eeaf;
    padding: 2%;
    box-shadow: 5px 10px #0000008f;
}
dl {
    font-size: 120%;
    color: black;
}
/* Designing Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #031852d0}
tr:nth-child(odd){background-color: rgba(22, 219, 209, 0.856)}

th {
    background-color: rgb(12, 96, 223);
    color: white;
}

#navbar{
    color: #fff;
    background-color: rgb(31, 31, 204);
}
#navbar ul{
    padding: 1%;
    list-style: none;
}
#navbar li{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
}
#navbar a{
    font-size: 18px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
}
#navbar a:hover{
    color: rgb(34, 12, 4);
}
#navbar a:active{
    color: greenyellow;
}

#front {
    font-size: 200%;
    line-height: 100%;
    color: rgb(5, 5, 5);
    padding: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #119a9bcf;
    box-shadow: 5px 10px #0000008f;
}
.ask {
    color: white;
}

.slogan {
    font-size: 250%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dodgerblue;
    text-emphasis: bold;
    text-align: center;
    text-shadow: 1px 1px rgb(34, 12, 4);
}

.buttons {
    background-color: rgb(5, 27, 226);
    color: wheat;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.buttons:hover{
    background: rgb(14, 221, 248);
    color: whitesmoke;
}

/* Designing the Footer */
#footer{
    background: rgb(31, 31, 204);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 150%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.forms {
    display: flex;
    vertical-align: space-between;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.forms .form-pen{
    padding-bottom: 15px;
}
input[type="text"]{
    padding: 8px;
}
input[name="email"]{
    padding: 8px;
    width: 120%;
}
input[name="password"]{
    padding: 8px;
    width: 120%;
}
input[name="name"]{
    padding: 8px;
    width: 120%;
}
input[name="confirm"]{
    padding: 8px;
    width: 120%;
}
input[name="question"]{
    padding: 8px;
    width: 120%;
}

input[type=submit]{
    width: 120%;
}
.bottom{
    color: rgb(4, 4, 82);
}